/*
 * Copyright (c) 2018-2020 Nordic Semiconductor ASA
 * Copyright (c) 2020-2026 Circuit Dojo LLC
 *
 * SPDX-License-Identifier: Apache-2.0
 */
#include "circuitdojo_feather_nrf9151_common-pinctrl.dtsi"
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
	model = "Circuit Dojo nRF9151 Feather";
	compatible = "circuitdojo,feather-nrf9151";

	chosen {
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,uart-mcumgr = &uart0;
		nordic,modem-trace-uart = &uart1;
		nordic,pm-ext-flash = &w25q128jv;
	};

	buttons {
		compatible = "gpio-keys";
		button0: button_0 {
			gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;
			label = "Switch 1";
			zephyr,code = <INPUT_KEY_0>;
		};
	};

	/* These aliases are provided for compatibility with samples */
	aliases {
		sw0 = &button0;
		mcuboot-button0 = &button0;
		watchdog0 = &wdt0;
		spi-flash0 = &w25q128jv;
		accel0 = &lis2dh;
		ext-flash = &w25q128jv;
	};

	fstab {
		compatible = "zephyr,fstab";
		lfs: lfs {
			compatible = "zephyr,fstab,littlefs";
			mount-point = "/lfs";
			partition = <&lfs_partition>;
			read-size = <16>;
			prog-size = <16>;
			cache-size = <64>;
			lookahead-size = <32>;
			block-cycles = <512>;
			automount;
		};
	};
};

&adc {
	status = "okay";
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
	sense-edge-mask = <0xffff>;
};

&uart0 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart0_sleep>;
	pinctrl-names = "default", "sleep";
};

&uart1 {
	current-speed = <1000000>;
	pinctrl-0 = <&uart1_default>;
	pinctrl-1 = <&uart1_sleep>;
	pinctrl-names = "default", "sleep";
};

&i2c2 {
	compatible = "nordic,nrf-twim";
	status = "okay";

	pinctrl-0 = <&i2c2_default>;
	pinctrl-1 = <&i2c2_sleep>;
	pinctrl-names = "default", "sleep";

	lis2dh: lis2dh@19 {
		compatible = "st,lis2dh";
		reg = <0x19>;
		irq-gpios = <&gpio0 19 GPIO_ACTIVE_HIGH>, <&gpio0 12 GPIO_ACTIVE_HIGH>;
	};

	npm1300_pmic: pmic@6b {
		compatible = "nordic,npm1300";
		host-int-gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>;
		pmic-int-pin = <1>;
		reg = <0x6b>;

		npm1300_gpio: gpio-controller {
			compatible = "nordic,npm1300-gpio";
			gpio-controller;
			#gpio-cells = <2>;
			ngpios = <5>;
		};

		npm1300_leds: leds {
			compatible = "nordic,npm1300-led";
			nordic,led0-mode = "error";
			nordic,led1-mode = "charging";
			nordic,led2-mode = "host";
		};

		npm1300_charger: charger {
			compatible = "nordic,npm1300-charger";
			term-microvolt = <4150000>;
			term-warm-microvolt = <4000000>;
			current-microamp = <720000>;
			dischg-limit-microamp = <1000000>;
			vbus-limit-microamp = <1000000>;
			thermistor-ohms = <10000>;
			thermistor-beta = <3380>;
			charging-enable;
		};

		npm1300_regulators: regulators {
			compatible = "nordic,npm1300-regulator";

			npm1300_buck1: BUCK1 {
				regulator-min-microvolt = <2700000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			npm1300_buck2: BUCK2 {
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
			};


		};
	};

};

&pwm0 {
	status = "okay";
	pinctrl-0 = <&pwm0_default>;
	pinctrl-1 = <&pwm0_sleep>;
	pinctrl-names = "default", "sleep";
};

&spi3 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	cs-gpios = <&gpio0 4 GPIO_ACTIVE_LOW>;
	pinctrl-0 = <&spi3_default>;
	pinctrl-1 = <&spi3_sleep>;
	pinctrl-names = "default", "sleep";
	w25q128jv: w25q128jv@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <133000000>;
		size = <0x1000000>;
		has-dpd;
		t-enter-dpd = <30000>;
		t-exit-dpd = <30000>;
		jedec-id = [ ef 40 18  ];
		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			lfs_partition: partition@0 {
				label = "lfs_partition";
				reg = <0x00000000 DT_SIZE_M(16)>;
			};
		};
	};
};

&flash0 {
	/*
	 * 0x0000_0000  MCUboot                       ( 64 kB)
	 * 0x0001_0000  Primary image area            (448 kB)
	 *   0x0001_0000  Primary secure image        (256 kB)
	 *   0x0005_0000  Primary non-secure image    (192 kB)
	 * 0x0008_0000  Secondary image area          (448 kB)
	 *   0x0008_0000  Secondary secure image      (256 kB)
	 *   0x000c_0000  Secondary non-secure image  (192 kB)
	 * 0x000f_0000  Protected Storage Area        ( 16 kB)
	 * 0x000f_4000  Internal Trusted Storage Area (  8 kB)
	 * 0x000f_6000  OTP / NV counters area        (  8 kB)
	 * 0x000f_8000  Non-secure storage            ( 32 kB)
	 */
	partitions {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		boot_partition: partition@0 {
			compatible = "zephyr,mapped-partition";
			label = "mcuboot";
			reg = <0x00000000 0x10000>;
		};

		slot0_partition: partition@10000 {
			compatible = "zephyr,mapped-partition";
			label = "image-0";
			reg = <0x00010000 0x70000>;
			ranges = <0x0 0x00010000 0x70000>;
			#address-cells = <1>;
			#size-cells = <1>;

			slot0_s_partition: partition@0 {
				compatible = "zephyr,mapped-partition";
				label = "image-0-secure";
				reg = <0x00000000 0x40000>;
			};

			slot0_ns_partition: partition@40000 {
				compatible = "zephyr,mapped-partition";
				label = "image-0-nonsecure";
				reg = <0x00040000 0x30000>;
			};
		};

		slot1_partition: partition@80000 {
			compatible = "zephyr,mapped-partition";
			label = "image-1";
			reg = <0x00080000 0x70000>;
			ranges = <0x0 0x00080000 0x70000>;
			#address-cells = <1>;
			#size-cells = <1>;

			slot1_s_partition: partition@0 {
				compatible = "zephyr,mapped-partition";
				label = "image-1-secure";
				reg = <0x00000000 0x40000>;
			};

			slot1_ns_partition: partition@40000 {
				compatible = "zephyr,mapped-partition";
				label = "image-1-nonsecure";
				reg = <0x00040000 0x30000>;
			};
		};

		tfm_ps_partition: partition@f0000 {
			compatible = "zephyr,mapped-partition";
			label = "tfm-ps";
			reg = <0x000f0000 0x00004000>;
		};

		tfm_its_partition: partition@f4000 {
			compatible = "zephyr,mapped-partition";
			label = "tfm-its";
			reg = <0x000f4000 0x00002000>;
		};

		tfm_otp_partition: partition@f6000 {
			compatible = "zephyr,mapped-partition";
			label = "tfm-otp";
			reg = <0x000f6000 0x00002000>;
		};

		storage_partition: partition@f8000 {
			compatible = "zephyr,mapped-partition";
			label = "storage";
			reg = <0x000f8000 0x00008000>;
		};
	};
};

/ {

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		sram0_s: image_s@20000000 {
			/* Secure image memory */
		};

		sram0_ns: image_ns@20016000 {
			/* Non-Secure image memory */
			#address-cells = <1>;
			#size-cells = <1>;

			sram0_modem: sram0_ns_modem: image_modem@0 {
				/* Modem (shared) memory */
				#address-cells = <1>;
				#size-cells = <1>;

				cpuapp_cpucell_ipc_shm_ctrl: image_modem_ctrl@0 {
					/* Modem IPC control */
				};

				cpuapp_cpucell_ipc_shm_heap: image_modem_tx@728 {
					/* Modem IPC transmit */
				};

				cpucell_cpuapp_ipc_shm_heap: image_modem_rx@2800 {
					/* Modem IPC receive */
				};

				cpucell_cpuapp_ipc_shm_trace: image_modem_trace@4800 {
					/* Modem trace */
				};
			};

			sram0_ns_app: image_ns_app@a000 {
				/* Non-Secure application memory */
			};
		};
	};
};

/* Include partition configuration file */
#include "circuitdojo_feather_nrf9151_partition_conf.dtsi"
