/*
 * Copyright (c) 2020 Circuit Dojo LLC
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
    zephyr,user {
        latch-en-gpios = <&gpio0 31 GPIO_ACTIVE_HIGH>;
        wp-gpios = < &gpio0 8 GPIO_ACTIVE_LOW >;
        hold-gpios = < &gpio0 10 GPIO_ACTIVE_LOW >;
    };

    leds {
        compatible = "gpio-leds";
        blue_led: led_0 {
            gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;
            label = "Blue LED (D7)";
        };
    };
};

&gpio0 {
    sense-edge-mask = <0xffff>;
};

&i2c1 {
	lis2dh@18 {
		compatible = "st,lis2dh";
		reg = <0x18>;
		disconnect-sdo-sa0-pull-up;
	};
};

&spi3 {
	w25q32jv: w25q32jv@0 {
        /delete-property/ wp-gpios;
        /delete-property/ hold-gpios;
		t-enter-dpd = < 3500 >;
		t-exit-dpd = < 3500 >;
	};
};