/*
 * Copyright (c) 2020 Circuit Dojo LLC
 *
 * SPDX-License-Identifier: Apache-2.0
 */


/ {
	aliases {
		rtc0 = &pcf85063a;
	};
};

&i2c1 {
	pcf85063a: pcf85063a@51 {
		compatible = "nxp,pcf85063a";
		reg = <0x51>;
	};
};