# PCF85063A Nano Power Real time Clock configuration options

#
# Copyright (c) 2020 Circuit Dojo LLC
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig PCF85063A
	bool "PCF85063A Real Time Clock"
	depends on I2C
	help
	  Enable SPI/I2C-based driver for PCF85063A based RTC
