
/* Adding sensors */

/ {
	psctl: psctl {
		compatible = "circuitdojo,psctl";
		mode-gpios = <&gpio0 13 GPIO_ACTIVE_LOW>;
	};
};

&gpio0 {
	sense-edge-mask = <0xffff>;
};

&uart0 {
	status = "okay";
	current-speed = <115200>;
	/delete-property/ rx-pin;
};

&i2c1 {
	lis2dh: lis2dh@18 {
		compatible = "st,lis2dh";
		label = "LIS2DH";
		reg = <0x18>;
		irq-gpios = <&gpio0 30 GPIO_ACTIVE_HIGH>, <&gpio0 29 GPIO_ACTIVE_HIGH>;
		disconnect-sdo-sa0-pull-up;
	};
};