
/* Adding sensors */

/ {
	psctl: psctl {
		compatible = "circuitdojo,psctl";
		mode-gpios = <&gpio0 13 GPIO_ACTIVE_LOW>;
	};

	chosen {
		nordic,pm-ext-flash = &w25q32jv;
	};
};

&gpio0 {
	sense-edge-mask = <0xffff>;
};

&uart0 {
	status = "okay";
	current-speed = <115200>;
	/delete-property/ rx-pin;
};